<!DOCTYPE html>
<html>
<head>
    <title>成绩管理-教师面板</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='DeviconSqldeveloper.png') }}">
    <script>
        function submitForm() {
            document.getElementById('termForm').submit();
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Hello, {{ teacher.TeacherName }}</h1>
        <h2>教师个人信息</h2>
        <table class="info-table">
            <tr>
                <th>教工号</th>
                <td>{{ teacher.TeacherID }}</td>
            </tr>
            <tr>
                <th>姓名</th>
                <td>{{ teacher.TeacherName }}</td>
            </tr>
            <tr>
                <th>性别</th>
                <td>{{ teacher.TeacherSex }}</td>
            </tr>
            <tr>
                <th>生日</th>
                <td>{{ teacher.TeacherBirthday }}</td>
            </tr>
            <tr>
                <th>院系</th>
                <td>{{ teacher.TeacherDepartment }}</td>
            </tr>
            <tr>
                <th>职务</th>
                <td>{{ teacher.Position }}</td>
            </tr>
        </table>
        <!-- 退出按钮 -->
        <form action="{{ url_for('common.logout') }}" method="get">
            <button type="submit" class="btn">退出登录</button>
        </form>
        <h2>教授课程与成绩管理</h2>
        <div class="formcontainer">
            <form id="termForm" action="{{ url_for('teacher.teacher_dashboard') }}" method="post">
                <div class="formgruop">
                    <label for="term">选择学期:</label>
                    <select id="term" name="term" onchange="submitForm()" style="flex: 1;padding: 8px;border: 1px solid #ccc;border-radius: 4px;">
                        <option value="">选择学期</option>
                        {% for term in terms %}
                        <option value="{{ term.Term }}" {% if selected_term == term.Term %}selected{% endif %}>{{ term.Term }}</option>
                        {% endfor %}
                        <option value="ALL"{% if selected_term == 'ALL' %}selected{% endif %}>入学以来</option>
                    </select>
                </div>
            </form>
        
            {% if courses %}
            <h4>已选学期 {{ selected_term }}</h4>
            <table class="info-table">
                <tr>
                    <th>课程号Course ID</th>
                    <th>课程名称</th>
                    <th>学分</th>
                    <th>学期</th>
                    <th>学生人数</th>
                    <th>成绩管理</th>
                </tr>
                {% for course in courses %}
                <tr>
                    <td>{{ course.CourseID }}</td>
                    <td>{{ course.CourseName }}</td>
                    <td>{{ course.Point }}</td>
                    <td>{{ course.Term }}</td>
                    <td>{{ course.StuNumber }}</td>
                    <td>
                        <form action="{{ url_for('teacher.teacher_dashboard') }}" method="post">
                            <input type="hidden" name="course_id" value="{{ course.CourseID }}">
                            <button type="submit" class="btn">登记/查询</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
        <h3>更改密码</h3>
        <div class="formcontainer">
            <form action="/change_password" method="post">
                <div class="formgruop">
                    <label for="new_password">新密码:</label>
                    <input type="password" id="new_password" name="new_password" required>
                </div>
                <button type="submit" class="btn">更改密码</button>
            </form>
        </div>
    </div>
</body>
</html>
