<!DOCTYPE html>
<html>
<head>
    <title>Teach Table</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='DeviconSqldeveloper.png') }}">
</head>
<body>
    <div class="container">
        <h2>教师信息表</h2>
        <table class="info-table">
            <tr>
                <th>教工号TeacherID</th>
                <th>课程号CourseID</th>
                <th>上课地点</th>
            </tr>
            {% for record in teachtable %}
            <tr>
                <td>{{ record.TeacherID }}</td>
                <td>{{ record.CourseID }}</td>
                <td>{{ record.CourseLocation }}</td>
            </tr>
            {% endfor %}
        </table>
        <ul class="pagination">
            {% if page > 1 %}
            <li><a href="{{ url_for('admin.teachtable_page', page=page-1) }}">&laquo;</a></li>
            {% endif %}
            {% for p in range(1, total_pages + 1) %}
            <li><a href="{{ url_for('admin.teachtable_page', page=p) }}" class="{% if p == page %}active{% endif %}">{{ p }}</a></li>
            {% endfor %}
            {% if page < total_pages %}
            <li><a href="{{ url_for('admin.teachtable_page', page=page+1) }}">&raquo;</a></li>
            {% endif %}
        </ul>
        <form action="{{ url_for('admin.admin_dashboard') }}" method="get">
            <button type="submit" class="btn">返回</button>
        </form>
    </div>
</body>
</html>
